# Copy this file to `deployment/secrets/<secret-name>.secret` and replace the <secret-value> with just the real JWT secret value, without any comments.
# Keep the real `deployment/secrets/<secret-name>.secret` file out of version control.
<secret-value>