<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>
    <springProperty name="CONSOLE_LOG_CHARSET" source="logging.console.charset"/>

    <appender name="STRUCTURED_CONSOLE_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Enable this [logging.structured.format.console=logstash] in to use the below format of logging -->
        <encoder class="org.springframework.boot.logging.logback.StructuredLogEncoder">
            <format>${CONSOLE_LOG_STRUCTURED_FORMAT:-[${APP_NAME}:%X{traceId:-}:%X{spanId:-}]}</format>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <!-- Async Appender wrapping the console appender -->
    <appender name="ASYNC_STRUCTURED_CONSOLE_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STRUCTURED_CONSOLE_LOG"/>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <queueSize>10000</queueSize>
        <includeCallerData>false</includeCallerData>
    </appender>

    <!-- OTEL Logback Appender -->
    <appender name="OTEL_LOG" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
        <captureExperimentalAttributes>true</captureExperimentalAttributes>
        <captureCodeAttributes>true</captureCodeAttributes>
        <captureMarkerAttribute>true</captureMarkerAttribute>
        <captureKeyValuePairAttributes>true</captureKeyValuePairAttributes>
        <captureLoggerContext>true</captureLoggerContext>
        <captureMdcAttributes>*</captureMdcAttributes>
    </appender>

    <root level="INFO" additivity="true">
        <appender-ref ref="ASYNC_STRUCTURED_CONSOLE_LOG"/>
        <appender-ref ref="OTEL_LOG"/>
    </root>

</configuration>
